body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: cursive;
}
body {
  background-color: coral ;
  color: #0f0f0f;
}
form.form-example {
  display: table;
}

div.form-example {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}
.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav {
  background-color: rgb(63, 205, 215);

  
}
#searchPost {
  font-size: x-large;
}
#postNumber {
  font-size: x-large;
}

